In [1]:
import pandas as pd
import numpy as np

In [34]:
my_stat = pd.read_csv('data/my_stat_1.csv')
my_stat

   session_value  time group  n_users
0            0.0    12     B        9
1            NaN    11     A       -1
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9
5            3.0     8     A        8
6            NaN    11     B        5
7            0.0     9     A        4
8            0.0     8     B      -11
9            0.0     9     A      -20

In [37]:
new_session = my_stat['session_value'].fillna(0)
my_stat['session_value'] = new_session
# my_stat
# #В переменной n_users замените все отрицательные значения на медианное значение переменной n_users (без учета отрицательных значений, разумеется).

mean_n_users = my_stat.loc[my_stat['n_users'] > 0, 'n_users'].mean()
my_stat.loc[my_stat['n_users']<0, 'n_users'] = mean_n_users
my_stat

5.571428571428571

   session_value  time group   n_users
0            0.0    12     B  9.000000
1            0.0    11     A  5.571429
2            1.0     8     A  1.000000
3            2.0     9     B  3.000000
4            2.0    10     B  9.000000
5            3.0     8     A  8.000000
6            0.0    11     B  5.000000
7            0.0     9     A  4.000000
8            0.0     8     B  5.571429
9            0.0     9     A  5.571429

In [11]:
import pandas as pd

taxi = pd.read_csv('https://stepik.org/media/attachments/lesson/360340/2_taxi_nyc.csv')

In [3]:
taxi.dtypes

pickup_dt        object
pickup_month     object
borough          object
pickups           int64
hday             object
spd             float64
vsb             float64
temp            float64
dewp            float64
slp             float64
pcp 01          float64
pcp 06          float64
pcp 24          float64
sd              float64
dtype: object

In [43]:
taxi.rename(columns={'pcp 01':'pcp_01', 'pcp 06':'pcp_06', 'pcp 24':'pcp_24'}, inplace=True)
taxi

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp_01,pcp_06,pcp_24,sd
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29096,2015-06-30 23:00:00,Jun,EWR,0,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29097,2015-06-30 23:00:00,Jun,Manhattan,3828,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29098,2015-06-30 23:00:00,Jun,Queens,580,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29099,2015-06-30 23:00:00,Jun,Staten Island,0,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29100,2015-06-30 23:00:00,Jun,NaN,3,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0

In [38]:
taxi['pickups'].sum()

14265773

In [49]:
taxi.groupby(['borough']).agg({'pickups':'sum'}).sort_values('pickups', ascending=False)
min_pickups = taxi.groupby(['borough']).agg({'pickups':'sum'}).idxmin()
min_pickups

pickups    EWR
dtype: object

In [51]:
taxi.groupby(by=['borough', 'hday']).agg({'pickups':'mean'})

                        pickups
borough       hday
Bronx         N       50.771073
              Y       48.065868
Brooklyn      N      534.727969
              Y      527.011976
EWR           N        0.023467
              Y        0.041916
Manhattan     N     2401.302921
              Y     2035.928144
Queens        N      308.899904
              Y      320.730539
Staten Island N        1.606082
              Y        1.497006

In [69]:
# Для каждого района посчитайте число поездок по месяцам. Отсортируйте полученные значения по убыванию и сохраните результирующий датафрейм в pickups_by_mon_bor.

# Обратите внимание, что итоговый датасет должен состоять из 3-х колонок: pickup_month, borough, pickups.
def make_zero(ds):
    print(ds[0])
    for i in range(len(ds)):
        ds[i] = 0
    return ds
pickups_by_mon_bor = (taxi
                        .groupby(['pickup_month', 'borough'], as_index=False)
                        .agg({'pickups':'sum'})
                        .sort_values('pickups', ascending=False))
# type(pickups_by_mon_bor['pickups'])

print(make_zero(pickups_by_mon_bor['pickups']))

34617
21    0
33    0
9     0
27    0
3     0
15    0
19    0
31    0
1     0
25    0
7     0
13    0
22    0
34    0
28    0
4     0
10    0
16    0
30    0
18    0
0     0
24    0
6     0
12    0
23    0
35    0
5     0
29    0
11    0
17    0
20    0
32    0
26    0
8     0
14    0
2     0
Name: pickups, dtype: int64

C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0
C:\Users\ulmaszhon.kilichov\AppData\Local\Temp\ipykernel_13916\3265352803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds[i] = 0